<header>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/side-nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user-views.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/vendor/layout.css" type="text/css" /> -->
  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:300,300i,700,700i&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" defer src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/login-on-click.js"></script>
  <script type="text/javascript" src="/scripts/categories-on-click.js"></script>

</header>
  <body>
    <div class="sidenav">
      <a href="/<%=user?'homepage':''%>">
        <img class="brain" src="/images/brain.png">
      </a>
      <form id="SearchResources" method="POST" action="/search/:searchQuery">
        <textarea id="search" name="searchResult"placeholder="Search Resources"></textarea>
        <button type="submit">Search</button>
      </form>
        <div>
        </div>
        <% if (user) { %>
        <h4 style="margin: 4em" font="bold">Logged In As: <%= user %></h4>
        <form class="form-inline" method="POST" action="/logout">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <div class="new-resource">
          <a href="/newresource">
          <button type="submit" class="btn btn-primary">Make New Resource</button>
        </a>
        </div>
        <% } else { %>
          <button id="login-button">
            <span>Login</span>
            </button>

          <form id="login-form" method="POST" action="/">
          <div class="sign-in">
            <label  for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button>Submit</button>
            <div class="error" hidden>Incorrect User Credentials</div>
          </div>
          </form>
          <div class="register">
            <a href="/register">Register</a>
          </div>
          <% } %>
          <button id="categories-button">
            <span>Categories</span>
          </button>
          <form id ="category-form">
        <div class="categories">


            <a href="/category/1">Web Development</a>
            <a href="/category/2">Business</a>
            <a href="/category/3">Photography</a>
             <a href="/category/4">Design</a>
            <a href="/category/5">Science</a>

          </div>
        </form>
        </div>
      </div>
  </body>
