<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side-nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resources.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/layout.css" type="text/css" /> -->
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:300,300i,700,700i&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>


    <div class="sidenav">
      <img class="brain" src="/images/brain.png">
      <form id="SearchResources" method="GET">
        <textarea id="search" placeholder="Search Resources"></textarea>
        <div>
        </div>
        <% if (user) { %>
        <h4 style="margin: 4em" font="bold">Logged In As: <%= user %></h4>
        <button type="submit" class="btn btn-primary" >Logout</button>
        <% } %>
        <div class="new-resource">
          <button type="submit" class="btn btn-primary">Make New Resource</button>
        </div>
      <div class="categories">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <a href="#web-development">Web Development</a>
          <a href="#business">Business</a>
          <a href="#photography">Photography</a>
           <a href="#design">Design</a>
          <a href="#science">Science</a>
        </ul>
        </div>
      </div>

    </div>
    </div>
    <div class="main">

    <img class="book" src="/images/myresources.png">


    <div class="feature" >


      <table class="table">
        <thead>
          <tr class="table-head">
            <th scope="col">Title</th>

            <th scope="col">Added by</th>

          </tr>
        </thead>
        <tbody>
          <% for(let resource in resources) { %>
            <tr class="table-row">
              <td><%= resources[resource].title %></td>

              <td><%= resources[resource].user %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
  </div>

    <img class="likes" src="/images/likes.png">
    <div class="my-likes">
    <table class="liked-content">
      <thead>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </thead>
    </table>
  </div>
  </body>
</html>
