// See: https://sass-lang.com/

// AL comment: this file syncs with public/styles/layout.css
body {
  background-color: #EEE;
  display: flex;
  // flex: 3;
  flex-direction: row;
  // justify-content: space-around;

  h1 {
    color: #244751;
  }

  .feature {
    // display: flex;
    float: right;
    // flex: 2;
    border: 2px solid black;
    border-radius: 15px;
    // margin-left: 500px;
    width: 750px
  }
}

